<!--The whole content below can be removed with the new code.-->

<md-sidenav-container (backdropClick)="closeSidenav()" style="height: 100%" fullscreen>

  <md-sidenav [opened]="showSidenav$ | async" mode="push">
    <md-nav-list>
      <app-nav-item (activate)="closeSidenav()" routerLink="/" icon="home" hint="Beam me up Scotty!">
        Home
      </app-nav-item>
      <app-nav-item (activate)="closeSidenav()" routerLink="/drill-sites" icon="web" hint="View all Applications.">
        Applications
      </app-nav-item>
      <!--<app-nav-item (activate)="closeSidenav()" routerLink="/questions" icon="help" hint="View Questions.">-->
        <!--Questions-->
      <!--</app-nav-item>-->
      <!--<app-nav-item (activate)="closeSidenav()" routerLink="/offices" icon="place" hint="View Offices.">-->
        <!--Offices-->
      <!--</app-nav-item>-->
      <!--<app-nav-item (activate)="close.emit()" routerLink="/organizations" icon="business" hint="Show all Organizations">-->
      <!--Organizations-->
      <!--</app-nav-item>-->
    </md-nav-list>
  </md-sidenav>
  <app-toolbar
    (openMenu)="openSidenav()"
    [loading]="loading$ | async"
    [title]="'Fracker Tracker'"
    [subtitle]="subtitle$| async">
  </app-toolbar>
  <router-outlet></router-outlet>
</md-sidenav-container>
